
.movie-filter-container{
    padding: 15px;
    margin-bottom: 20px;
}

.movie-filter-select__control{
    background-color: #6C6C6C !important;
    color: #FFFFFF; 
    border: 1px solid #E1E1E1 !important;
    border-radius: 4px !important;
    font-size: 1em;
    letter-spacing: -0.015em;       
}

/* tentei tudo para alterar a cor do item selecionado e não consegui
se puder me enviar depois agradeço.
.movie-filter-select__control--is-focused{
    color: #FFFFFF !important;   
}
.movie-filter-select__control::menu-is-open{
    color: #FFFFFF;   
}

.movie-filter-select__control:focus{
    color: #FFFFFF !important;   
}

.movie-filter-select__value-container{
    color: #FFFFFF !important;    
}

.movie-filter-select__input{
    color: #FFFFFF !important;    
} */

.movie-filter-select__placeholder {
    color: #FFFFFF !important;
}

.movie-filter-select__indicator-separator {
    display: none;
  }



